* {
    margin: 0;
    padding: 0;
}

html{
    opacity: .85;
}

#title{
    border-bottom: 1.5px dashed black;
    text-align: center;
    height: 100px;
    overflow: auto;
}

.class-selector {
    margin-top: 20px;
    height:30px;
    margin-bottom: 20px;
    text-align: center;
}

.exam-credit {
    text-align: center;
    min-height: 150px;
    background-color: darkslategray;
    opacity: .9;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown {
    margin-top: 10px;
}

.year {
    text-align: center;
    min-height: 150px;
    background-color: darkslategray;
    opacity: .9;
    margin-top: 10px;
    margin-bottom: 10px;
}

.semester {
    text-align: center;
    margin: 5px;
    min-height: 140px;
    background-color: darkgray;
    opacity: .9;    
}

.class-holder {
    align-content: center;
    margin-top: 20px;
    min-height: 100px;
    margin-bottom: 10px;
    background-color: lightgrey;
    opacity: .9;    
}

.requirements {
    border-style: line;
    text-align: center;    
    margin-top: 10px;
    min-height: 400px;
}

.non-gen-holder {
    margin-top: 20px;
    min-height: 350px;
}

.gen-ed-holder {
    margin-top: 20px;
    min-height: 350px;
}

.gen-ed {
    justify-content: left;
    margin-bottom: 5px;
    min-height: 35px;
}

.class-name-gen {
    display: inline-block;
    width: 70%;
    text-align: left;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    background: #3A6F9A;
    vertical-align: middle;
    max-height: 25px;
    max-width: 160px;
}

.completion {
    display: inline-block;
    background-image: url(X.png);
    background-size: 100% auto;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.non-gen {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 100px;
}

.class-name {
    text-align: center;
}

.bgBar {
    width: 90%;
    justify-content: left;
    margin-top: 10px;
    background-color: grey;
    height: 25px;
    margin-left: 5%;
}
.fgBar {
    width: 0%;
    height: 25px;
    background-color: green;
}