* {
    margin: 0;
    padding: 0;
}

html{
    background-image: url(elijah-o-donell-392340.jpg);
    background-size: 100% auto;
    opacity: .85;
}

body{
    margin-top: 50px;
}

header{
    border-bottom: 1.5px dashed black;
    height: 90px;
}

p{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    color: brown;
    font-family: georgia;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

@media (min-width: 425px) {
    .grid {
        grid-template-columns: 1fr 8fr 1fr;
    }
}

.main {
    display: grid;
    background-color: whitesmoke;
    height: 500px;
    padding-top: 10px;
}

@media (min-width: 525){
    .grid{
        grid-template-columns: 1fr 6fr 1fr;
    }
}

@media (min-width: 425px) {
    .year {
        grid-template-columns: repeat(2, 1fr);     
    }
}

.year{
    display: grid;

}

.require {
    background-color: green;
}

h1{
    font-family: verdana;
    text-align: center;
    color: teal;
    font-weight: 300;
}