* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

@media (min-width: 425px) {
    .grid {
        grid-template-columns: 1fr 3fr 1fr;
    }
}

.main {
    display: grid;
    background-color: whitesmoke;
    height: 500px;
    padding-top: 10px;
}

@media (min-width: 425px) {
    .year {
        grid-template-columns: repeat(2, 1fr);     
    }
}

.year{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sem1 {
    background-color: yellow;
}

.sem2 {
    background-color: yellowgreen;
}

.require {
    background-color: green;
}

h1{
    font-family: verdana;
    text-align: center;
}