* {
    margin: 0;
    padding: 0;
}

html{
    background-size: 100% auto;
    opacity: .85;
}

body{
    margin-top: 50px;
    margin-bottom: 50px;
}

header{
    border-bottom: 1.5px dashed black;
    height: 90px;
}

p{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    color: brown;
    font-family: georgia;
}

div > p{
    text-align: left;
    padding: 15px;
}

form{
    margin-left: 50px;
    margin-bottom: 25px
}

.s2{
}

.grid {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

@media (min-width: 425px) {
    .grid {
        grid-template-columns: 1fr 8fr 1fr;
    }
}

.main {
    display: grid;
    background-color: whitesmoke;
    padding-top: 10px;
}

@media (min-width: 525){
    .grid{
        grid-template-columns: 1fr 6fr 1fr;
    }
}

@media (min-width: 425px) {
    .year {
        grid-template-columns: repeat(2, 1fr);     
    }
}

.year{
    display: grid;
    border-top: 1px solid green;
}

.require {
    background-color: green;
}

h1{
    font-family: verdana;
    text-align: center;
    color: teal;
    font-weight: 300;
}



.prog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 200px;
    border-top: 1px solid green;
}

#MSEProgress {
    width: 90%;
    justify-content: left;
    margin-top: 30px;
    background-color: grey;
    height: 25%;
    margin-left: 5%;
}
#MSEBar {
    width: 1%;
    height: 25px;
    background-color: green;
}

#CSProgress {
    width: 90%;
    margin-top: 30px;
    background-color: grey;
    height: 25%;
    margin-left: 5%;
}
#CSBar {
    width: 1%;
    height: 25px;
    background-color: green;
}

#BMSProgress {
    width: 90%;
    justify-content: left;
    margin-top: 30px;
    background-color: grey;
    height: 25%;
    margin-left: 5%;
}
#BMSBar {
    width: 1%;
    height: 25px;
    background-color: green;
}

#ENGProgress {
    width: 90%;
    justify-content: left;
    margin-top: 30px;
    background-color: grey;
    height: 25%;
    margin-left: 5%;
}
#ENGBar {
    width: 1%;
    height: 25px;
    background-color: green;
}

